<h1>
  <%= @interview.interview_type %> Interview with <%= @interview.job_application.company_name %> 
</h1>

<article>
  <div>
    <%= link_to "Go Back", job_application_interviews_path(@job_application) %>
  </div>
 
  <div>
    <%= link_to "Edit Interview Details", edit_interview_path %>
  </div>

  <div>
    <%= link_to "Delete This Interview", @interview, data: { method: :delete } %>
  </div> 
  <dl>
    <dt>
      Application
    </dt>
    <dd>
      <%= @interview.application_id %>
    </dd>

    <dt>
      Interview type
    </dt>
    <dd>
      <%= @interview.interview_type %>
    </dd>

    <dt>
      Date of
    </dt>
    <dd>
      <%= @interview.date_of %>
    </dd>

    <dt>
      Outcome
    </dt>
    <dd>
      <%= @interview.outcome %>
    </dd>

    <dt>
      Notes
    </dt>
    <dd>
      <%= @interview.notes %>
    </dd>

    <h2> Reflection </h2>  
    
    <% if !@interview.reflection.present? %>
      <p> no current reflections on this interview <p>
      <%= link_to 'Reflection on this interview', new_interview_reflection_path(@interview.id) %>

    <% else %>
      <%= link_to "Post Interview Reflections", interview_reflection_path(@interview.id) %>
      <p> Positive: <%= @interview.reflection.positive_notes %> </p>
      <p> Negative: <%= @interview.reflection.negative_notes %> </p>
      <p> Primary gap: <%= @interview.reflection.primary_gap %> </p>
    <% end %>

</article>
