<h1>New Reflection on <%= @interview.interview_type %> Interview at <%= @interview.job_application.company_name %></h1>

<% @reflection.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>


<%= form_with(model: @reflection, url: interview_reflection_path(@interview)) do 
|form| %>
  <div>
    <%= form.label :positive_notes %>
    <%= form.text_area :positive_notes %>
  </div>
  <div>
    <%= form.label :negative_notes %>
    <%= form.text_area :negative_notes %>
  </div>
  <div>
    <%= form.label :primary_gap %>
    <%= form.select :primary_gap, Reflection.primary_gaps.keys, prompt: "Select one" %>
  </div>
  <%= form.button %>
<% end %>
