<h1>
  Reflection #<%= @the_reflection.id %> details
</h1>

<article>
  <div>
    <a href="/reflections">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_reflection/<%= @the_reflection.id %>">
      Delete reflection
    </a>
  </div>
  <dl>
    <dt>
      Interview
    </dt>
    <dd>
      <%= @the_reflection.interview_id %>
    </dd>

    <dt>
      Positive notes
    </dt>
    <dd>
      <%= @the_reflection.positive_notes %>
    </dd>

    <dt>
      Negative notes
    </dt>
    <dd>
      <%= @the_reflection.negative_notes %>
    </dd>

    <dt>
      Primary gap
    </dt>
    <dd>
      <%= @the_reflection.primary_gap %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_reflection.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_reflection.updated_at) %> ago
    </dd>
  </dl>
</article>

<hr>


<article>
  <header>
    <h2>
      Edit reflection
    </h2>
  </header>

  <form action="/modify_reflection/<%= @the_reflection.id %>"  method="post" >
    <div>
      <label for="interview_id_box">
        Interview
      </label>

      <input type="text" id="interview_id_box" name="query_interview_id" value="<%= @the_reflection.interview_id %>">
    </div>

    <div>
      <label for="positive_notes_box">
        Positive notes
      </label>

      <input type="text" id="positive_notes_box" name="query_positive_notes" value="<%= @the_reflection.positive_notes %>">
    </div>

    <div>
      <label for="negative_notes_box">
        Negative notes
      </label>

      <input type="text" id="negative_notes_box" name="query_negative_notes" value="<%= @the_reflection.negative_notes %>">
    </div>

    <div>
      <label for="primary_gap_box">
        Primary gap
      </label>

      <input type="text" id="primary_gap_box" name="query_primary_gap" value="<%= @the_reflection.primary_gap %>">
    </div>

    <button type="submit">
      Update reflection
    </button>
  </form>
</article>

<hr>
