<h1>
  Reflection #<%= @reflection.id %> details
</h1>

<article>
  <div>
    <%= link_to "Go back", interview_path(@interview.id)%>
  </div>
  <div>
    <%= link_to "Edit", edit_interview_reflection_path %>
  </div>
  <div>
    <%= link_to "Delete this reflection", interview_reflection_path(@interview.id), data: { method: :delete }%>
  </div>
  <dl>
    <dt>
      Interview
    </dt>
    <dd>
      <%= @reflection.interview_id %>
    </dd>

    <dt>
      Positive notes
    </dt>
    <dd>
      <%= @reflection.positive_notes %>
    </dd>

    <dt>
      Negative notes
    </dt>
    <dd>
      <%= @reflection.negative_notes %>
    </dd>

    <dt>
      Primary gap
    </dt>
    <dd>
      <%= @reflection.primary_gap %>
    </dd>

    
  </dl>
</article>

<hr>

