<h1>
  Reflection #<%= @reflection.id %> details
</h1>

<article>
  <div>
    <%= link_to "Go back", interview_path(@interview.id)%>
  </div>
  <div>
    <%= link_to "Edit", edit_interview_reflection_path %>
  </div>
  <div>
    <%= link_to "Delete this reflection", interview_reflection_path(@interview.id), data: { method: :delete }%>
  </div>
  <dl>
    <dt>
      Interview
    </dt>
    <dd>
      <%= @reflection.interview.job_application.company_name %> > <%= @reflection.interview.job_application.role %> > <%= @reflection.interview.interview_type %> interview
    </dd>

    <dt>
      Positive notes
    </dt>
    <dd>
      <%= @reflection.positive_notes %>
    </dd>

    <dt>
      Negative notes
    </dt>
    <dd>
      <%= @reflection.negative_notes %>
    </dd>

    <dt>
      Primary gap
    </dt>
    <dd>
      <%= @reflection.primary_gap %>
    </dd>

    
  </dl>
</article>

<hr>

<h2> Learning Items </h2>
<% if !@reflection.learning_items.present? %>
  <p> no current learning items for this reflection </p>
  <%= link_to 'Add Learning Item', new_interview_reflection_learning_item_path(@interview.id) %>
<% else %>
  <%= link_to "Learning Items", interview_reflection_learning_item_path(@interview.id) %>
<% end %>
