<h1>
  <%= @job_application.role %> at <%= @job_application.company_name%> details
</h1>

<article>
  <div>
    <a href="/job_applications">
      Go back
    </a>
  </div>

  <div>
    <a href="/job_applications/<%= @job_application.id %>/edit">
      Edit Application 
    </a>
  </div>

  <div>
    <a href="/job_applications/<%= @job_application.id %>" data-method="delete">
      Delete job application
    </a>
  </div>
  <dl>

    <dt>
      Applied on
    </dt>
    <dd>
      <%= @job_application.applied_on %>
    </dd>

    <dt>
      Status
    </dt>
    <dd>
      <%= @job_application.status %>
    </dd?
    
</article>

    <hr>

    <div>
      <div>
        <a href="/job_applications/<%= @job_application.id %>/interviews">
          <h2> Interviews for role </h2>
        </a>
      </div>
    </div>
