<h1>
  Interview #<%= @the_interview.id %> details
</h1>

<article>
  <div>
    <a href="/interviews">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_interview/<%= @the_interview.id %>">
      Delete interview
    </a>
  </div>
  <dl>
    <dt>
      Application
    </dt>
    <dd>
      <%= @the_interview.application_id %>
    </dd>

    <dt>
      Interview type
    </dt>
    <dd>
      <%= @the_interview.interview_type %>
    </dd>

    <dt>
      Date of
    </dt>
    <dd>
      <%= @the_interview.date_of %>
    </dd>

    <dt>
      Outcome
    </dt>
    <dd>
      <%= @the_interview.outcome %>
    </dd>

    <dt>
      Notes
    </dt>
    <dd>
      <%= @the_interview.notes %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_interview.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_interview.updated_at) %> ago
    </dd>
  </dl>
</article>

<hr>


<article>
  <header>
    <h2>
      Edit interview
    </h2>
  </header>

  <form action="/modify_interview/<%= @the_interview.id %>"  method="post" >
    <div>
      <label for="application_id_box">
        Application
      </label>

      <input type="text" id="application_id_box" name="query_application_id" value="<%= @the_interview.application_id %>">
    </div>

    <div>
      <label for="interview_type_box">
        Interview type
      </label>

      <input type="text" id="interview_type_box" name="query_interview_type" value="<%= @the_interview.interview_type %>">
    </div>

    <div>
      <label for="date_of_box">
        Date of
      </label>

      <input type="date" id="date_of_box" name="query_date_of" value="<%= @the_interview.date_of %>">
    </div>

    <div>
      <label for="outcome_box">
        Outcome
      </label>

      <input type="text" id="outcome_box" name="query_outcome" value="<%= @the_interview.outcome %>">
    </div>

    <div>
      <label for="notes_box">
        Notes
      </label>

      <input type="text" id="notes_box" name="query_notes" value="<%= @the_interview.notes %>">
    </div>

    <button type="submit">
      Update interview
    </button>
  </form>
</article>

<hr>
